@import 'colors';

.container {
	background-color: $bgColor;
	display: flex;
	align-items: center;
	height: 100%;
}

.instructionsCamera {
	color: rgba(193, 204, 203, 0.85);
	font-weight: bold;
	font-size: 20;
	align-self: center;
	margin-top: 40%;
	margin-left: 10%;
	margin-right: 10%;
}

.instructionsQR {
	color: $lightTextColor;
	font-weight: bold;
	font-size: 20;
	align-self: center;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
}

.instructionBoxCamera {
	height: 100%;
	width: 100%;
	background-color: rgba(19, 59, 67, 0.5);
}

.instructionBoxQR {
	width: 100%;
}

.QRcode {
	margin-top: 10%;
}

.QRcodeNew {
	margin-top: 30%;
}
.switchCamera {
	display: flex;
	flex-direction: row;

	align-self: center;
	margin-top: 17rem;
}

.switchQR {
	display: flex;
	flex-direction: row;

	align-self: center;
	margin-top: 3.5rem;
}

.userName {
	font-size: 25;
	color: $lightTextColor;
	margin-top: 20%;
	margin-bottom: 5%;
}
