$bgColor: #eaeaea;

$header: #276a76;
$footer: #707070;
$currentTab: #03090a;

$textColor: #000000;
$lightTextColor: #707070;
$whiteTextColor: #ffffff;

$msgSentColor: #4499a9;
$msgRecievedColor: #c1cccb;
$inputBoxColor: #133b43;
$textInputColor: #ffffff;
