@import 'colors';

.footerBox{
    background-color: $footerInactive;
    display: flex;
    flex-direction: row;
}

.conversationsButton{
    width: 50%;
    display: flex;
    align-items: center;
    align-self: flex-start;

}

.convIcon{
    width: 50;
    height: 50;
}
.supIcon{
    width: 50;
    height: 50;
}

.supervisionsButton{
    width:50%;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.inactiveButton{
  padding-left: 35%;
  padding-right: 35%;
  display: flex;
  align-items: center;
}


.active{
    background-color: $footerActive;
}

.inactive{
    background-color: $footerInactive
}

.icon{
    padding-top: 9;
    padding-bottom: 4;

    padding-left: 10;
    padding-right: 10;
}

.iconPadding{
    padding-top: 4;
    padding-bottom: 4;
}