@import 'colors';

.footerBox{
    background-color: $footerInactive;
    display: flex;
    flex-direction: row;
}

.conversationsButton{
    width: 50%;
    display: flex;
    align-items: center;
    align-self: flex-start;

}

.supervisionsButton{
    width:50%;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.inactiveButton{
  padding-left: 35%;
  padding-right: 35%;
}

.active{
    background-color: $footerActive;
}

.inactive{
    background-color: $footerInactive
}

.icon{
    padding-top: 9;
    padding-bottom: 9;

    padding-left: 10;
    padding-right: 10;
}