.supervisedUserContact{
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 20;
}
.name{
    font-size: 20;
}
.data{
    font-size: 13;
}
.option{
    padding-top: 5;
    padding-bottom: 3;

    display: flex;
    align-items: center;
}

.optionText{
    font-size: 20;
    padding-top: 13;
    padding-bottom: 13;
}