@import 'colors';

.tabBarIcons {
    font-size: 30;
    margin-top: 10;
}
.optionText {
    font-size: 18;
    margin-top: 10;
    //font-weight: "bold";
    //align-self: 'flex-start';
  }